*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif ;
}

body {
    background: url('background.png');
    background-size: cover;
    
}

.menu-bar {
    text-align: center;
    
}

.menu-bar ul {
    list-style: none;
    display:inline-flex;
    color: #740014;
}

.menu-bar ul li {
    padding: 15px 25px;
    margin-top: auto;
    margin-bottom:auto;
    width: 150px;
    position:relative;
    transition: all 0.5s;
  
}

.menu-bar ul li a{
    text-decoration:none;
    color: #740014;
}


.sub-menu-1, .sub-menu-2 {
    display:none;
}

.menu-bar ul li:hover .sub-menu-1{
    display:block;
    width: 150px;
    margin-top:15px;
    margin-left:-25px;
    position:absolute;

}

.sub-menu-1 ul, .sub-menu-2 ul {
    display:block;
}

.sub-menu-1 ul li:hover .sub-menu-2{
    display:block;
    width: 150px;
    position:absolute;
    left:150px;
}

li:before {
    position: absolute;
    height: 1px;
    width:100%;
    right:0;
    top:0;
    background:#740014;
    content: "";
    opacity: 0;
    transition: all 0.8s ease-in-out;
    transform: scale(0);
    transform-origin: top right;
}
li:after {
    position: absolute;
    height: 1px;
    width:100%;
    left:0;
    bottom:0;
    background:#740014;
    content: "";
    opacity: 0;
    transition: all 0.8s ease-in-out;
    transform: scale(0);
    transform-origin: top left;
 
}

li:hover:after, li:hover:before{
    opacity:1;
    transform: scale(1);
}

